@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.project-wrapper {
  margin-top: 3rem;
  padding: 1rem;
}

.project-wrapper li {
  margin-bottom: 2rem;
}

.project-wrapper li:last-child {
  margin-bottom: 0;
}

.text-gradient {
  background: linear-gradient(to right, #0db760, #2FAB73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stroke-[5px] {
  stroke-width: 5px;
}
